<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/public/main.css" />
</head>
<body class="grey-bg">

<%- include('header.ejs') %>

<div class="detail-bg">
  <h4><%= result.title %></h4>
  <p><%= result.content %></p>
  <hr style="margin-top: 60px" />

  <div>
    <% for (let i = 0; i < result2.length; i++) { %>
      <p>
        <strong><%= result2[i].writer %></strong> <%= result2[i].content %>
      </p>
    <% } %>
  </div>

  <!-- 수정 및 삭제 버튼 추가 -->
  <div class="button-group">
    <a href="/edit/<%= result._id %>">수정</a>
    <a href="/delete/<%= result._id %>">삭제</a>
  </div>

  <!-- 댓글 작성 폼 -->
  <form class="comment-form" action="/comment" method="POST">
    <input name="content" />
    <input name="parentId" value="<%= result._id %>" style="display: none" />
    <button type="submit">댓글작성</button>
  </form>

</div>
</body>
</html>
