<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/main.css" />
</head>

<body class="grey-bg">

  <%- include('header.ejs') %>

    <div class="detail-bg">
        <h1><%= result.title %></h1>
        <p>์์ฑ์: <%= result.username %></p>
    
        <p><%= result.content %></p>

        <div class="button-group">
            <a href="/edit/<%= result._id %>">โ๏ธ</a>
            <a href="/delete/<%= result._id %>">๐๏ธ</a>
        </div>


        <hr style="margin-top: 60px" />
        <div>
          <% for (let i=0; i < result2.length; i++) { %>
            <p>
              <strong>
                <%= result2[i].writer %>
              </strong>
              <%= result2[i].content %>
            </p>
            <% } %>
        </div>
  
        <!-- ๋๊ธ ์์ฑ ํผ -->
        <form class="comment-form" action="/comment" method="POST">
          <input name="content" />
          <input name="parentId" value="<%= result._id %>" style="display: none" />
          <button type="submit">COMMENT</button>
        </form>
  
      </div>
  </body>
  
  </html>