<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="main.css">
</head>
<body class="grey-bg">

  <!-- header.ejs 파일 재사용  -->
 
  <%- include('header.ejs') %>

  <div class="white-bg">
    <% for (let i = 0; i < 글목록.length; i++) { %>
      <div class="list-box">
        <h2>
          <a href="/detail/<%= 글목록[i]._id %>"><%= 글목록[i].title %></a>
          <a href="/edit/<%= 글목록[i]._id %>">수정</a>
          
          <a href="/delete/<%= 글목록[i]._id %>">삭제</a>
        </h2>
       <p>글 내용</p>
      </div>
    <% } %>

  </div>

  <a href="/list/next/<%= 글목록[글목록.length-1]._id %>">다음</a>
  
</body>
</html>