<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="main.css">
</head>

<body class="grey-bg">

  <%- include('header.ejs') %>

    <div class="white-bg">
      <% for (let i=0; i < 글목록.length; i++) { %>
        <div class="list-box">
          <h2 style="font-size: 1rem;">
            <%= i + 1 %>.
              <a href="/detail/<%= 글목록[i]._id %>">
                <%= 글목록[i].title %>
                
              </a>




          </h2>

          <% const createdAt = new Date(글목록[i].createdAt); %>
          <p>작성 시간: <%= createdAt.toLocaleDateString() %> <%= createdAt.toLocaleTimeString() %></p> 
        </div>

        <% } %>

    </div>

</body>

</html>